- title t('.title')
%h2=t('.p1.title')

.half

  %p=t('.p1.answer_html')
  %p=t('.p1.features')
  %ul#features
    - for i in (1..5)
      %li=t(".p1.feature_#{i}_html")

= render :template => "sessions/new"
.clear

%h2=t('.p2.title')

%p=t('.p2.answer_html')
%i=t('.p2.notice')

%h2=t('.p3.title')

%p=t('.p3.answer')

= link_to "/images/tour/tour-1.png", :rel => :facebox, :title => t('.tour1') do
  = image_tag "/images/tour/tour-1-thumb.png", :alt => t('.tour1')
= link_to "/images/tour/tour-2.png", :rel => :facebox, :title => t('.tour2') do
  = image_tag "/images/tour/tour-2-thumb.png", :alt => t('.tour2')
= link_to "/images/tour/tour-3.png", :rel => :facebox, :title => t('.tour3') do
  = image_tag "/images/tour/tour-3-thumb.png", :alt => t('.tour3')

%h2=t('.p4.title')
%p=t('.p4.answer_html')

= render "tasks"
