- title (@selection.character.pinyin + " " + @selection.character.hanzi)
= render "tasks"

= render @selection.character

%h2 Fortschritt
- EXERCISES.each do |exercise|
  %h3=exercise[:name]
  .foo
    Stufe:
    =@selection.send("level_#{exercise[:id]}")
  .bar
    Nächster geplanter Besuch:
    = next_visit_words(@selection, exercise[:id])

= link_to "Entfernen", @selection, :class => :button, :method => :delete

