- title t('.exercises')
= render "tasks"

#buttons
  = link_to "HanZi Training starten", exercise_path(1), :class => :button
  = link_to "PinYin Training starten", exercise_path(2), :class => :button
  = link_to "Neues Wort", new_selection_path, :class => :button, :rel => :facebox
#exercise-list
  - EXERCISES.each do |exercise|
    .exercise
      %h2=exercise[:name]
      .ex-progress
        = progress_bar(exercise[:id], current_user)
      %p
        =exercise[:description]
        %br
        =# t "exercises.show.due", :due => Selection.count_due(exercise[:id], current_user.id), :total => Selection.where(:user_id => current_user).count

      %ul.level-list
        - (0..8).each do |level|
          - cache "level-#{current_user.id}-#{exercise[:id]}-#{level}", :expires_in => (5.minutes * 2.3**level).to_i.seconds do
            %li
              = "Stufe #{level}"
              %p.hanzi-list
                - current_user.selections_of_level(level, exercise[:id]).each do |s|
                  = link_to s.character.hanzi, s, :rel => :facebox, :class => (s.due?(exercise[:id]) ? "due" : "done")
.clear



