- title @exercise[:name]
= render "tasks"

= render :partial => "exercise_#{@exercise[:id]}", :locals => { :character => @selection.character }

#buttons
  = progress_bar @exercise[:id], current_user
  = link_to t(".solve"), '#', :class => :button, :id => "solve"
  %br
  .solve
    = link_to t('.wrong'), exercise_path(@exercise[:id], :selection_id => @selection.id, :answer => :wrong), :method => :put, :class => :button, :id => "wrong"
    = link_to t('.close'), exercise_path(@exercise[:id], :selection_id => @selection.id, :answer => :mamahuhu), :method => :put, :class => :button, :id => "mamahuhu"
    = link_to t('.right'), exercise_path(@exercise[:id], :selection_id => @selection.id, :answer => :right), :method => :put, :class => :button, :id => "right"
  .clear
  #level
    Level
    = @selection.level(@exercise)
#info
  =# t ".due", :due => Selection.count_due(@exercise[:id], current_user.id), :total => Selection.where(:user_id => current_user).count





