- title @exercise[:name]
- title ": " + @selection.character.pinyin
= render "tasks"

#exercise-1
  #task
    %h2
      =@selection.character.pinyin
    %ul
      - @selection.character.translation_html.html_safe.split(";").each do |char|
        %li=char
    #hanzi-canvas


  #hanzi-solution.solve
    = @selection.character.hanzi
  .clear

#buttons
  = link_to t(".solve"), '#', :class => :button, :id => "solve"
  %br
  .solve
    = link_to t('.right'), exercise_path(@exercise[:id], :selection_id => @selection.id, :answer => :right), :method => :put, :class => :button
    = link_to t('.wrong'), exercise_path(@exercise[:id], :selection_id => @selection.id, :answer => :wrong), :method => :put, :class => :button
    = link_to t('.close'), exercise_path(@exercise[:id], :selection_id => @selection.id, :answer => :mamahuhu), :method => :put, :class => :button
  .clear
#info
  = t ".due", :due => Selection.count_due(@exercise[:id], current_user.id), :total => Selection.where(:user_id => current_user).count





